/* @font-face {
  font-family: "Rock";
  src: url("../assets/font/ROCK.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rock-Bold";
  src: url("../assets/font/Rockwell-Bold.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
} */
@font-face {
  font-family: "Inria-Sans", sans-serif;
  src: url("../assets/font/InriaSans-Regular.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard", sans-serif;
  src: url("../assets/font/PretendardVariable.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
