@import "tailwindcss";
@import "./font.css";

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: var(--main-bg);
  background-image: url("../assets//img/grid_background.svg");
  background-size: cover;
  /* font-family: "Inria-Sans", sans-serif; */
}

:root {
  --main-bg: #fbfbfb;
  --pink-300: #ffceec;
  --pink-600: #d095af;
  --gray-800: #282828;
  --gray-500: #5b5b5b;
  --gray-300: #8f8b8b;
  --neutral-10: #dfdfdf;
}

@theme {
  --color-surface-skeleton: var(--neutral-10);

  --font-inria-sans: "Inria-Sans", sans-serif;
  --font-pretendard: "Pretendard", sans-serif;

  --color--bg: var(--main-bg);
  --color-main: var(--pink-300);

  /* text */
  --color-text-black: var(--gray-800);
  --color-text-gray500: var(--gray-500);
  --color-text-gray: var(--gray-300);
  --color-text-pink600: var(--pink-600);

  /* border */
  --color-border-gray: var(--gray-300);
  --color-border-pink: var(--pink-600);

  /* gradient */
  --gradient-main: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 206, 236, 0.74) 71%,
    var(--pink-300) 100%
  );
  --gradient-noop: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 206, 236, 1) 71%,
    var(--pink-300) 100%
  );
  --gradient-gray: linear-gradient(180deg, #fff 0%, #f4f4f4 100%);
  --gradient-button: linear-gradient(
    180deg,
    #fff 0%,
    rgba(238, 238, 238, 0.74) 70.67%,
    var(--pink-300) 100%
  );
}

@layer components {
  .skeleton {
    @apply bg-surface-skeleton;
    animation: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    animation-iteration-count: 3;
    animation-delay: 1s;
  }

  .heading_20b {
    @apply font-inria-sans text-[2rem] text-text-black font-[700] tracking-[-1px];
  }
  .label_14l {
    @apply font-inria-sans text-[1.4rem] text-text-gray font-[300] tracking-[-1px];
  }
  .label_17m {
    @apply font-inria-sans text-[1.7rem] text-text-gray500 font-[300] tracking-[-1px];
  }
  .label_17r {
    @apply font-inria-sans text-[1.7rem] text-text-gray500 font-[600] tracking-[-1px];
  }
  .label_12m {
    @apply font-inria-sans text-[1.2rem] text-text-gray500 font-[300] tracking-[-1px];
  }
  .label_20l {
    @apply font-inria-sans text-[2rem] text-text-gray font-[300] tracking-[-1px];
  }
  .skeleton {
    animation: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
  .basic-shadow {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
  .button-shadow {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }

  .radial-gradient {
    background: radial-gradient(
      50% 50% at 50% 50%,
      var(--pink-300) 31.73%,
      rgba(255, 206, 236, 0) 100%
    );
  }
  .custom-scrollbar::-webkit-scrollbar {
    width: 5px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #e0e0e0;
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: var(--pink-300);
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #f472b6;
  }
  .custom-scrollbar-x::-webkit-scrollbar {
    /* width: 20px; */
    height: 5px;
  }
  .custom-scrollbar-x::-webkit-scrollbar-track {
    background: #e0e0e0;
    border-radius: 10px;
  }

  .custom-scrollbar-x::-webkit-scrollbar-thumb {
    background: var(--pink-300);
    border-radius: 10px;
  }

  .custom-scrollbar-x::-webkit-scrollbar-thumb:hover {
    background: #f472b6;
  }
}
